<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Appenders>
		<Console name="console-log" target="SYSTEM_OUT">
			<PatternLayout>
				<Pattern>%d{[yyyy-MM-dd HH:mm:ss,SSS]} %X{username} %5p (%F:%L) - %m%n</Pattern>
			</PatternLayout>
		</Console>
		<RollingFile name="file-log" fileName="/opt/dspace/log/reportajes.log"
			filePattern="/opt/dspace/log/reportajes.log-%d{yyyy-MM-dd}.zip">
			<PatternLayout>
				<Pattern>%d{[yyyy-MM-dd HH:mm:ss,SSS]} %X{username} %5p (%F:%L) - %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingFile>
	</Appenders>

	<Loggers>
		<!-- REPORTAJES -->
		<Logger name="es.guadaltel.reportajes" level="INFO" additivity="false">
			<AppenderRef ref="file-log" />
			<AppenderRef ref="console-log" />
		</Logger>

		<!-- HIBERNATE SQL -->
		<Logger name="org.hibernate.SQL" level="INFO" additivity="false">
			<AppenderRef ref="file-log" />
			<AppenderRef ref="console-log" />
		</Logger>

		<!-- AXIS SOAP -->
		<Logger name="org.apache.axis.transport.http.HTTPSender" level="ERROR" additivity="false ">
			<AppenderRef ref="file-log" />
			<AppenderRef ref="console-log" />
		</Logger>

		<!-- ROOT LOGGER -->
		<Root level="INFO">
			<AppenderRef ref="file-log" />
			<AppenderRef ref="console-log" />
		</Root>
	</Loggers>
</Configuration>