/*
Color principal: #087021   (títulos, iconos, botones...)
Color secundario: #46b8da  (:hover del color principal)
Color auxiliar: #FFEFD9	   (fondos claros de color)
*/

/*********** GENERAL ***********************/
h1, h3, .primary {
	color: #087021 !important;
}

a, a:link {
	color: #087021;
}

a:focus, a:visited {
	color: #087021;
}

a:hover{
	color: #087021;
}

.header a:hover, .header a:focus {
	color: #087021;
}

/*********** PIE ***************************/
#footer {
	border-top: 1px solid #e2e2e2;
}

#footer .info {
	color: #aeaeae;
}

/*********** BOTONES ***********************/
.btn-primary {
	background-color: #087021 !important;
}

.btn-secundary {
	color: #087021 !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active,
	.btn-primary.active, .open>.dropdown-toggle.btn-primary {
	background-color: #46b8da !important;
	border-color: #46b8da !important;
}

.btn-secundary:hover, .btn-secundary:focus, .btn-secundary.focus,
	.btn-secundary:active, .btn-secundary.active, .open>.dropdown-toggle.btn-secundary
	{
	color: #46b8da !important;
	border: 1px solid #46b8da !important;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus,
	.btn.active.focus {
	outline: thin dotted;
	outline-color: -webkit-focus-ring-color;
	outline-style: auto;
	outline-width: 5px;
	outline: 5px auto -webkit-focus-ring-color;
	outline-color: -webkit-focus-ring-color;
	outline-style: auto;
	outline-width: 5px;
	outline-offset: -2px;
	outline: none;
}

/*********** FORMULARIOS *******************/
.form-control:focus {
	border-color: #087021;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
}

/*********** TABLAS ************************/

.ui-datatable th{
	background-color: #087021 !important;
}

table.dataTable thead th, table.dataTable thead td {
	color: #087021 !important;
}

table.dataTable tbody tr:hover {
	background-color: #FFEFD9 !important;
}

.ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header li.ui-state-active a{  
	color: #98afd9 !important;
}

.ui-paginator-pages a.ui-state-active {
    border-bottom: 3px solid #087021 !important;
    color: #087021;
}    

tr.ui-datatable-odd:hover, tr.ui-datatable-even:hover {
    background-color: #dae2ea !important;
}

/*********** TABS ************************/

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	color: #98afd9 !important;
}	

/**************** MODAL PANEL *************/
.modal-header, .ui-dialog-titlebar {
	background-color: #087021 !important;
}

.ui-dialog-titlebar {
	background-color: #98afd9 !important;
}	

/**************** WIZARD ******************/
.wizard li.active span.round-tab em {
	color: #087021;
}

.wizard li.active span.round-tab {
	border: 2px solid #087021;
}

.wizard li.active:after {
	border-bottom-color: #087021;
}

/*********** PANEL DESPLEGABLE *************/
.panel-heading a:hover {
	color: #46b8da !important;
}

.panel-heading a:focus {
	color: #087021 !important;
}

/*********** DROPDOWN **************/
.dropdown-menu em {
	color: #087021;
}

/*********** ICONOS ************************/
.btn-icn-new {
	color: #087021;
}

.btn-icn-edit {
	color: #087021;
}

.btn-icn-del {
	color: #087021;
}

.btn-icn-new:hover {
	color: #46b8da !important;
}

.btn-icn-edit:hover {
	color: #46b8da !important;
}

.btn-icn-del:hover {
	color: #46b8da;
}

.btn-icn-opt {
	color: #46b8da;
}

.btn-icn {
	color: #087021 !important;
}

.ui-state-highlight .btn-icn {
	color: white !important;
}

.btn-icn:hover {
	color: #46b8da !important;
}

.help-on {
	color: green !important;
}

.help-off {
	color: gray !important;
}

/********************** COLORES *******************/
.blanco{
	color: #fff;
}

.rojo {
	color: Red !important;
}

.naranja {
	color: Orange;
}

.amarillo {
	color: Gold;
}

.verde {
	color: SeaGreen;
}

.turquesa {
	color: Teal;
}

.celeste {
	color: SkyBlue;
}

.azul {
	color: RoyalBlue;
}

.morado {
	color: MediumOrchid;
}

.alternativo{
	color: #98afd9;
}

.user-icon{
	color: #cecece;
}

/*********** COOKIE CONSENT ****************/
.cc_container .cc_btn {
	background-color: #087021;
}

.cc_container a:hover, .cc_container a:active {
	color: #46b8da;
}

/*********** VARIOS ****************/

.obligatorio {
	color: #ff8080 !important;
}

.row_obligatorio {
	background-color: #ff8080 !important;
}

.complementario {
	color: #ffff80 !important;
}

.row_complementario {
	background-color: #ffff80 !important;
}

.especifico {
	color: #80ff80 !important;
}

.row_especifico {
	background-color: #80ff80 !important;
}

.not_active {
	color: gray !important;
	pointer-events: none;
	cursor: default;
}

/*********** OTROS *************************/
/*********** IDIOMA ************************/
/*********** PESTAÑAS **********************/
/*********** MIGAS DE PAN ******************/
/*********** PESTAÑAS **********************/
/*********** PAGINACION ********************/
/*********** ACORDEON **********************/
/*********** GROWL *************************/
/*********** POPUP *************************/